$grid-gap: none;
$grid-columns: 12;
$grid-rows: 5;
$max-width: 100vw;
$col-min-height: 100px; // for testing only;
$row-min-height: 100px; // for testing only;

@mixin grid-columns($columns: 12, $start: '') {
  -ms-grid-column-span: ((#{$columns} * 2) + 1); // IE
  grid-column-end: span $columns;
  @if ($start != '') {
    -ms-grid-column-span: $columns; // IE
    -ms-grid-column: $start; // IE
    grid-column-start: $start;
    grid-column: $start / span $columns;
  }
}

@mixin grid-row($rows, $start: 1) {
  -ms-grid-row: $rows;
  -ms-grid-row-span: ($start - 1);
  grid-row: $start / $rows;
  grid-row: $rows;
}

// ** CSS4 Grid
@mixin grid {
  display: -ms-grid; // IE
  display: grid;

  grid-gap: $grid-gap;

  // columns
  // $ms-columns: 1fr;
  // @for $i from 1 through $grid-columns - 1 {
  //   $ms-columns: 1fr $ms-columns; // IE
  // }
  // -ms-grid-columns: $ms-columns; // IE
  -ms-grid-columns: $grid-gap unquote('(')+1fr $grid-gap+unquote(')[')+(($grid-columns*2)+1)+unquote(']'); // IE
  grid-template-columns: repeat($grid-columns, 1fr);
  // rows
  // $ms-rows: 1fr;
  // @for $i from 1 through $grid-rows - 1 {
  //   $ms-rows: 1fr $ms-rows; // IE
  // }
  // -ms-grid-rows: $ms-rows; // IE
  -ms-grid-rows: unquote('(')+minmax($row-min-height, auto) $grid-gap+unquote(')[')+$grid-rows+unquote(']'); // IE
  //grid-template-rows: repeat($grid-rows, 1fr);

  -ms-grid-rows: minmax($row-min-height, auto); // IE
  grid-auto-rows: minmax($row-min-height, auto);

  justify-content: center;

  max-width: $max-width;
  margin: 0 auto;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {

    $ms-columns: 1fr;
    @for $k from 1 through $i - 1 {
      $ms-columns: 1fr $ms-columns; // IE
    }
    //-ms-grid-columns: $ms-columns; // IE
    -ms-grid-columns: $grid-gap unquote('(')+1fr $grid-gap+unquote(')[')+(($grid-columns*2)+1)+unquote(']'); // IE

    grid-template-columns: repeat(#{$i}, 1fr);
  }
  .col-#{$i},
  %col-#{$i} {
    @include grid-columns(#{$i});
    @for $j from 1 through $grid-columns {
      &.col-push-#{$j},
      %col-push-#{$j} {
        @include grid-columns(#{$i}, ($j+1));
      }
    }
  }
}

// IE does not support grid-row, grid-gap, grid-flow, grid-auto-flow.
@for $i from 1 through $grid-rows {
  .row-#{$i} {
    @include grid-row(#{$i});
    @for $j from 1 through $grid-rows {
      &.row-push-#{$j},
      %row-push-#{$j} {
        @include grid-row(#{$i}, #{(#{$j} + 1)});
      }
    }
  }
}