@import "variables";

/*********************
TYPOGRAPHY
**********************/
@mixin title($color) {
  font-size: $font-size-xl;
  font-weight: bold;
  color: $color;
}

@mixin subtitle() {
  font-size: $font-size-l;
  color: $link-color;
}

/*********************
BUTTONS
**********************/
@mixin button-bg ($bg) {
  background: $bg;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  &:hover {
    background: darken($bg,8%);
    transition: all 0.3s ease;
    font-weight: bolder;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  &:active {
    background: darken($bg,25%);
  } 
}

@mixin button ($color) {
  text-decoration: none;
  padding: 5px 10px;
  color: $color;
  border-radius: 3px;
  font-weight: lighter;
}

/*********************
BREAKPOINTS
**********************/
// @mixin breakpoint($point) {
//   @if $point == xs {
//     @media (max-width: 715px) { @content; }
//   }
//   @else if $point == sm {
//     @media (min-width: 768px) { @content; }
//   }
 
//   @else if $point == md {
//     @media (max-width: 1200px) { @content; }
//   }
 
//   @else if $point == lg {
//     @media (max-width: 1690px) { @content; }
//   }

//   @else if $point == xl {
//     @media (min-width: 1690px) { @content; }
//   }
// }
@mixin breakpoint($point){
    @if $point == xs {
        @media screen and (max-width: 37.5em){ @content; }
    }
    @else if $point == sm {
        @media screen and (min-width: 37.5em){ @content; }
    }
    @else if $point == md {
        @media screen and (min-width: 50em){ @content; }
    }
    @else if $point == lg {
        @media screen and (min-width: 64em){ @content; }
    }
    @else if $point == xl {
        @media screen and (min-width: 70em){ @content; }
    }
    @else if $point == xxl {
        @media screen and (min-width: 84em){ @content; }
    }
}
