//Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
$font-main: 'Ubuntu', sans-serif;
$font-size-xl: 50px;
$font-size-l: 25px;
$font-size-m: 20px;
$font-size-s: 14px;

//colors
$color-1: #1E9BAA;
$color-1-l: #6CC0CA;
$color-2: #5FA385; 
$color-2-x: rgb(77, 180, 136); 
$color-2-l: #A6D395; 
$color-2-m: #5C8575;
$grey: #F7F7F7;
$nav-color: #0E4F5B;

//navigation
$link-color: #d56844;
$link-vertical-padding:15px;
$link-horizontal-padding:20px;
$menu-background:#A9B7C0;
