<app-navigation></app-navigation>
<div class="grid main">
  <!--SIDEBAR-->
    <div class="sidebar">
        
      <div class="searchInfo">
        <input [(ngModel)]="origin" class="route input origin" id="originInput" type="text" placeholder="Geef je begin adres" required minlength="1">
        <input [(ngModel)]="destination" class="route input destination" id="destinationInput" type="text" placeholder="Geef je bestemming adres" required minlength="1">
        <select [(ngModel)]="selectedValue" required class="select">
          <option *ngFor="let t of travelModes" value='{{t.value}}'>{{t.name}}</option>
        </select>
        <button (click)="saveRoute()" class="saveBtn"> <i class="fa fa-floppy-o"></i></button>

        <button (click)="routeSearch(origin, destination, selectedValue)" class="searchBtn"> <i class="fa fa-arrow-right"></i></button>
      </div>
      <div class="validationErrors">
        <p></p>
      </div>
      <div class="results">
        <ul class="resultList" *ngFor="let a of info; let i = index">
          <li>{{info[i].desc}}</li>
          <button class="meerInfoBtn" [routerLink]="['detail/', info[i].type, info[i].gipodId]">Meer info</button>
        </ul>
      </div>
    </div>
  <!--MAP-->
    <div id="map">
  
    </div>
  </div>
  
  
