@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/grid";

a {
    text-decoration: none;
}

.errorMsg {
    margin: 0 auto;
    color: white;
}

.main {
    height: 100vh;
}

.loginForm {
    background-color: $color-1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.loginTitle {
    @include title(white);
    text-align: center;
}

.input {
    height: 40px;
    border: none;
    border-bottom: 2px solid $color-1-l;
    margin-bottom: 20px;
    background-color: $color-1;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
.input::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
.input:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
.input:-moz-placeholder { /* Firefox 18- */
    color: white;
  }

.input:focus {
    background-color: white;
}

.formContent {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formBtn {
    @include button-bg($color-1-l);
    width: 10em;
    font-size: $font-size-m;
    margin: 0 auto;
    margin-bottom: 20px;
}

.formBtnSignup {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

.formBtnSignup:hover {
    font-weight: bolder;
}

.probeerBtn {
    @include button-bg($color-2-l);
    width: 15em;
    font-size: $font-size-m;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.landingText {
    color: $color-2;
    text-align: center;
    font-size: $font-size-l;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 0 auto;
    
}

.intro {
    height: 100vh;
    background: 
    linear-gradient(
        rgba(238, 233, 233, 0.7), 
        rgba(238, 233, 233, 0.7)
    ),
    url(../styles/assets/images/map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*********************
BREAKPOINTS
**********************/
@include breakpoint(xs) {
    .loginForm {
        width: 100%;
        height: 70%;
        .formBtn {
            height: 20px;
        }
        .formBtnSignup {
            height: 20px;
        }
        .register {
            padding-bottom: 60px;
        }
    }
    .intro {
        height: 60;
        width: 100%;
    }
    .loginForm {
        padding-bottom: 20vh;
    }
    .formContent {
        width: 70vw;
    }
    .landingText {
        width: 90vw;
        padding-top: 5vh;
    }
    .probeerBtn {
        margin-top: 50px;
    }
    .logo {
        height: 80px;
        width: 220px;
        z-index: 5;
        padding-top: 50px;
        margin: 0 auto;
        background: 
            url(../styles/assets/images/GANDA.logo-dark.png) ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 220px 80px;
    }
}

@include breakpoint(sm) {
    .intro,
    .loginForm {
        width: 100%;
        height: 60%;
    }
    .formContent {
        width: 70vw;
    }
    .landingText {
        width: 90vw;
        padding-top: 10vh;
    }
    .probeerBtn {
        width: 200px;
    }
    .logo {
        height: 80px;
        width: 220px;
        z-index: 5;
        padding-top: 50px;
        margin: 0 auto;
        background: 
            url(../styles/assets/images/GANDA.logo-dark.png) ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 220px 80px;
    }

}

@include breakpoint(md) {
    .grid {
        @include grid;
        .intro {
          @include grid-columns(8);
        }
        .loginForm {
         @include grid-columns(4);
         padding-bottom: 40vh;
        }
    }
    .intro,
    .loginForm {
        height: 100%;
    }
    .landingText {
        height: 50vh;
        width: 50vw;
        margin-top: -10vh;
    }
    .probeerBtn {
        height: 40px;
        width: 20vw;
        margin-top: -30px;
    }
    .input {
        width: 30vw;
    }
    .formContent {
        width: 30vw;
    }
    .logo {
        height: 100px;
        width: 300px;
        z-index: 5;
        margin: 0 auto;
        margin-top: 100px;
        background: 
            url(../styles/assets/images/GANDA.logo-dark.png) ;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 300px 100px;
    }
}

@include breakpoint (lg) {
    .grid {
        @include grid;
        .intro {
          @include grid-columns(8);
        }
        .loginForm {
         @include grid-columns(4);
        }
    }
    .landingText {
        width: 50vw;
        margin-top: -50px;
    }
    .probeerBtn {
        width: 15vw;
    }
    .input {
        width: 25vw;
    }
    .formContent {
        width: 20vw;
    }
    .logo {
        margin-top: 200px;
    }
}

@include breakpoint (xl) {
    .grid {
        @include grid;
        .intro {
          @include grid-columns(9);
        }
        .loginForm {
         @include grid-columns(3);
        }
    }
    .input {
        width: 18vw;
    }
}