<app-navigation *ngIf='loggedIn'></app-navigation>
<div class="grid main">
  <div class="intro">
    <div class="logo"></div>
    <p class="landingText">
      
      Welkom bij Ganda!
      Hier kan je steeds op de hoogte blijven van de hinder die je kan ondervinden 
      in Gent. Registreer je nu in de zijbalk om alle functionaliteiten van de applicatie
      te kunnen gebruiken. Als je de applicatie liever gewoon eens uitprobeert, klik dan 
      op 'probeer nu'.
    </p>
    <a routerLink="zoeken"><button class="probeerBtn">Probeer nu</button></a>
  </div>

  <div class="loginForm">
    <h3 *ngIf="loginForm" class="loginTitle">Inloggen</h3>
    <h3 *ngIf="registerForm" class="loginTitle">Registreren</h3>
    <p class="errorMsg">{{errorMsg}}</p>
  <div class="formContent" *ngIf="!(authService.user | async)">
    <input class="input" type="text" [(ngModel)]="email" placeholder="Email">
    <input class="input" type="password" [(ngModel)]="password" placeholder="Paswoord">
    <input *ngIf="registerForm" class="input" type="displayName" [(ngModel)]="displayName" placeholder="Gebruikersnaam">
    <button *ngIf="loginForm" class="formBtn" (click)="login()" [disabled]="!email || !password">
      Login
    </button>
    <button *ngIf="registerForm" class="formBtn registerLg" (click)="signup()" [disabled]="!email || !password">
      Registreer
    </button>

  <button *ngIf="loginForm" class="formBtnSignup register" (click)="showRegister()">
      Nu registreren
    </button>
    

    
    <button *ngIf="registerForm" class="formBtnSignup" (click)="showLogin()">
      Nu inloggen
    </button>
  </div>

  <button class="formBtn" (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
  </div>
</div>