<app-navigation></app-navigation>
<div *ngIf="detail" class="desc">
    <p>{{ detail?.description }}</p>
  </div>
<div class="grid main">
    
<div *ngIf="detail" class="sidebar">
  <div *ngIf="detail.startDateTime" class="startDate">
    <p>Start: {{ detail?.startDateTime | date:'mediumDate' }}</p>
  </div>

  <div *ngIf="detail.endDateTime" class="endDate">
    <p>Einde: {{ detail?.endDateTime | date:'mediumDate' }}</p>
  </div>

  <div *ngIf="detail.hindrance.locations" class="locations">
    <h3>Waar zal je hinder ondervinden?</h3>
    <ul class="locationsList" *ngFor="let locations of detail.hindrance.locations; let i = index">
      <li>{{ detail?.hindrance?.locations[i] }}</li>
    </ul>
  </div>

  <div *ngIf="detail.hindrance.effects" class="effects">
    <h3>Welke effecten heeft de hinder?</h3>
    <ul class="effectsList" *ngFor="let effects of detail.hindrance.effects; let i = index">
      <li>{{ detail?.hindrance?.effects[i] }}</li>
    </ul>
  </div>

  <div *ngIf="detail.hindrance.streets" class="streets">
    <h3>In welke straten bevind de hinder zich?</h3>
    <ul class="streetsList" *ngFor="let streets of detail.hindrance.streets; let i = index">  
      <li>{{ detail?.hindrance?.streets[i] }}</li>
    </ul>
  </div>
</div>

<div id="map"></div>
</div>
