@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/grid";

.main {
    background: 
    linear-gradient(
        rgba(104, 175, 145, 0.5), 
        rgb(95, 163, 133)
    ),
    url(../../styles/assets/images/route.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .input {
        font-family: $font-main;
    }
    h3 {
        color: white;
        font-weight: bold; 
        margin-bottom: 10px;   
        margin-top: 25px;   
    }
    h1 {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: $font-size-xl;
    }
    .saveBtn {
        @include button-bg($link-color);
        border-radius: 0;
    }
}

/*********************
BREAKPOINTS
**********************/
@include breakpoint(xl) {
    .grid {
        @include grid; 
        height: 100vh;
        .form {
            @include grid-columns(12);
            margin: 0 auto;
            display: flex;
            justify-content: center !important;
            flex-direction: column;
            width: 31vw !important;
            .input {
                width: 31vw !important;
                height: 50px;
            }
            .desc {
                height: 85px;
            }
            .saveBtn {
                width: 31vw !important;
                height: 30px;
            }
        }
    }
}
@include breakpoint(lg) {
    .grid {
        @include grid; 
        height: 100vh;
        .form {
            @include grid-columns(12);
            margin: 0 auto;
            display: flex;
            justify-content: center !important;
            flex-direction: column;
            width: 60vw;
            .input {
                width: 100%;
                height: 50px;
            }
            .desc {
                height: 85px;
            }
            .saveBtn {
                width: 100%;
                height: 30px;
            }
        }
    }
}
@include breakpoint(md) {
    .grid {
        @include grid; 
        height: 100vh;
        .form {
            @include grid-columns(12);
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 60vw;
            .input {
                width: 100%;
                height: 50px;
            }
            .desc {
                height: 85px;
            }
            .saveBtn {
                width: 100%;
                height: 30px;
            }
        }
    }
}
@include breakpoint(sm) {
    .main {
        height: 100vh;
        @include grid;
        .form {
            @include grid-columns(12);
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 60vw;
        }
        h1 {
            margin-top: -20px;
            padding-top: 60px;
        }
        .input {
            width: 61vw;
            height: 50px;
        }
        .desc {
            height: 85px;
        }
        .saveBtn {
            width: 61vw;
            height: 30px;
        }
    }
}
@include breakpoint(xs) {
    .main {
        height: 100vh;
        @include grid;
        .form {
            @include grid-columns(12);
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 85vw;
        }
        h1 {
            margin-top: -20px;
            padding-top: 60px;
        }
        .input {
            width: 81vw;
            height: 30px;
        }
        .desc {
            height: 85px;
        }
        .saveBtn {
            width: 81vw;
            height: 20px;
        }
    }
}
