<div class="grid main" *ngFor="let r of radius | async"> 
  <div class="form">
    <h1>Radius bewerken</h1>
    <h3>Naam</h3>
    <input [(ngModel)]="name" class="input name" type="text" placeholder="{{ r.name }}">
    <h3>Beschrijving</h3>
    <textarea [(ngModel)]="desc" class="input desc" type="text" placeholder="{{ r.desc }}"></textarea>
    <button (click)="updateRadius(r.$key, name, desc)" class="saveBtn"><i class="fa fa-floppy-o"></i></button>
  </div>
</div>