@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/grid";

ul {
    list-style: none;
}

h3 {
    background: $color-2;
    color: white;
    padding: 13px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.desc {
    p {
        color: $color-2;
        text-align: center;
        font-weight: bolder;
    }
}

.startDate {
    border-top: 2px solid $color-2;
}


/*********************
BREAKPOINTS
**********************/
@include breakpoint(xs) {
    .grid {
        @include grid;
        .sidebar {
            @include grid-columns(12);
            overflow: scroll;
        }
        #map {
            @include grid-columns(12);
            height: 50vh;
            width: 100%;
        }
        h3 {
            font-size: $font-size-s;
        }
        p, li {
            font-size: 13px;
        }
    }
}
@include breakpoint(sm) {
    .grid {
        @include grid;
        .sidebar {
            @include grid-columns(12);
            overflow: scroll;
        }
        #map {
            @include grid-columns(12);
            height: 50vh;
            width: 100%;
        }
        h3 {
            font-size: 16px;
        }
        p, li {
            font-size: auto;
        }
    }
}
@include breakpoint(md) {
    .grid {
        @include grid;
        .sidebar {
            @include grid-columns(4);
            overflow: scroll;
        }
        #map {
            @include grid-columns(8);
            height: 90vh;
            width: 100%;
        }
    }
}
@include breakpoint(lg) {
    .grid {
        @include grid;
        .sidebar {
            @include grid-columns(4);
            overflow: scroll;
            .locations {
                h3 {
                    margin-top: 0;
                }
            }
        }
        #map {
            @include grid-columns(8);
            height: 90vh;
            width: 100%;
        }
    }
}
@include breakpoint(xl) {
    .grid {
        @include grid;
        .sidebar {
            @include grid-columns(3);
            overflow: scroll;
          
        }
        #map {
            @include grid-columns(9);
            height: 90vh;
            width: 100%;
        }
    }
}