@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/grid";

.searchBtn {
    @include button-bg($color-2);
    border-radius: 0px;
    i {
        font-size: $font-size-m;
    }
    &:hover {
        color: white;
        transform: none;
        i {
            transform: translateX(0.20em);
            transition: transform 0.5s ease;
        }
    }
    &:after {
        transition: all 0.5s ease;
    }
}

.saveBtn {
    @include button-bg(#0E4F5B);
    border-radius: 0;
    width: 100%;
    font-weight: bold;
    font-size: $font-size-s;
    &:hover {
        transform: none;
    }
    i {
        color: white;
    }
}

.meerInfoBtn {
    @include button-bg($color-2);
}

.searchInfo {
    border-radius: 25px;
}

.resultList {
    background-color: $color-2-l;
    color: white;
    font-weight: bolder;
    list-style: none;
    padding: 15px;
    .meerInfoBtn {
        margin-top: 12px;
    }
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-2;
    font-weight: bolder;
}
.input::-moz-placeholder { /* Firefox 19+ */
    color: $color-2;
    font-weight: bolder;
}
.input:-ms-input-placeholder { /* IE 10+ */
    color: $color-2;
    font-weight: bolder;
}
.input:-moz-placeholder { /* Firefox 18- */
    color: $color-2;
    font-weight: bolder;
}

.validationErrors {
    color: $link-color;
}

/*********************
BREAKPOINTS
**********************/
@include breakpoint(xs) {
    #map {
        width: 100vw;
        height: 70vh;
        z-index: -10;
    }
    .results {
        position: absolute;
        bottom: -40px;
        height: 200px;
        overflow: scroll;
    }
    .resultList {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background-color: white;
        color: $color-2;
    }
    .validationErrors {
        position: absolute;
    }
    .sidebar {
        width: 100vw;
        height: 15vh;
        .searchInfo {
            width: 100vw;
            margin: 0 auto;
        }
        .input {
            height: 50px;
            width: 100%;
        }
        .searchBtn {
            width: 70%;
            height: 50px;
            float: right;
        }
        .saveBtn {
            width: 30%;
            height: 50px;
        }
    }
}

@include breakpoint(sm) {
    #map {
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }
    .results {
        position: absolute;
        bottom: -70vh;
        height: 200px;
        overflow: scroll;
    }
    .resultList {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background-color: white;
        color: $color-1;
    }
    .validationErrors {
        // position: absolute;
    }
    .sidebar {
        position: absolute;
        width: 100vw;
        .searchInfo {
            width: 60vw;
            margin: 0 auto;
        }
        .input {
            height: 50px;
            width: 100%;
        }
        .searchBtn {
            width: 70%;
            height: 50px;
            float: right;
        }
        .saveBtn {
            width: 30%;
            height: 50px;
        }
    }
}

@include breakpoint(md) {
    #map {
        width: 100vw;
        height: 100vh;
        z-index: -10;
    }
    .results {
        position: absolute;
        bottom: -70vh;
        height: 200px;
        overflow: scroll;
    }
    .resultList {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background-color: white;
        color: $color-1;
    }
    .validationErrors {
        // position: absolute;
    }
    .sidebar {
        position: absolute;
        width: 100vw;
        .searchInfo {
            width: 60vw;
            margin: 0 auto;
        }
        .input {
            height: 50px;
            width: 100%;
        }
        .searchBtn {
            width: 70%;
            height: 50px;
            float: right;
        }
        .saveBtn {
            width: 30%;
            height: 50px;
        }
    }
}

@include breakpoint(lg) {
    .grid {
        @include grid;
        height: 95vh;
        .sidebar {
            overflow: scroll;
            @include grid-columns(3);
            position: relative;
            width: auto;
            .searchInfo {
                width: auto;
            }
            .input {
                height: 50px;
                width: 100%;
            }
            .searchBtn {
                width: 70%;
                height: 50px;
                float: right;
            }
            .saveBtn {
                width: 30%;
                height: 50px;
            }
            .results {
                display: block;
                z-index: 1;
                position: relative;
                bottom: 0;
                height: auto;
                overflow: auto;
            }
            .resultList {
                background-color: $color-2-l;
                color: white;
                
            }
        }
        #map {
            @include grid-columns(9);
            height: 95vh;
            width: 100%;
            z-index: 5;
        }
    }
}