<app-navigation></app-navigation>
<div class="grid main">
<!--SIDEBAR-->
  <div class="sidebar">
      
    <div class="searchInfo">
        <input [(ngModel)]="street" class="adres input" id="input" type="text" placeholder="Adres"> <br/>
        <div id="radiusWthBtn">
          <input [(ngModel)]="radius" id="radius" class="radius input" type="text" placeholder="Radius (bv 500)">
          <button [disabled]="disableBtn" (click)="radiusSearch(radius, street)" class="searchBtn"><i class="fa fa-arrow-right"></i></button>
        <button (click)="saveRadius()"  class="saveBtn"><i class="fa fa-floppy-o"></i></button>
        </div>
        
    </div>
    <div class="validationErrors">
      <p>{{ error }}</p>
    </div>
    <div class="results">
      <ul class="resultList" *ngFor="let descs of info; let i = index">
        <li>{{info[i].desc}}</li>
        <button class="meerInfoBtn" [routerLink]="['detail/', info[i].type, info[i].gipodId]">Meer info</button>
      </ul>
    </div>
  </div>
<!--MAP-->
  <div id="map">

  </div>
</div>

