@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/grid";

nav {
    background-color: #0E4F5B;
    padding: 16px;
    padding-bottom: 33px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    a {
        float: right;
        padding-right: 20px;
        text-decoration: none;
        color: $grey;
        font-weight: bolder;
        &:hover {
            // transform: translateY(-0.25em);
            // transition: transform 0.5s ease;
            color: rgb(100, 201, 187); 
        }
    }
    p {
        margin: 0;
        float: right;
        color: rgb(100, 201, 187);
    }
    i {
        padding-right: 10px;
        color: rgb(100, 201, 187);
    }
}


/*********************
BREAKPOINTS
**********************/
