<nav>
  <p *ngIf="authService.user | async"><i class="fa fa-user" aria-hidden="true"></i>{{ (authService.user | async)?.displayName }}</p>
  <a routerLink="/zoeken">Zoeken</a> 
  <a routerLink="/dashboard">Dashboard</a> 

</nav>