<div class="grid main"> 
    <div class="form">
      <h1>Route opslaan</h1>
      <h3>Naam</h3>
      <input [(ngModel)]="name" class="input name" type="text" placeholder="Naam">
      <h3>Beschrijving</h3>
      <textarea [(ngModel)]="desc" class="input desc" type="text" placeholder="Beschrijving"></textarea>
      <button (click)="save(name, desc)" class="saveBtn"><i class="fa fa-floppy-o"></i></button>
    </div>
  </div>
