@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/grid";


.savedSearch {
    border: 2px solid $color-1;
    @include grid;
    width: 35vw;
    background-color: $grey;
    margin-bottom: 20px;
}

.savedSearch.radius {
    border: 2px solid $color-2;
}


.name {
    -ms-transform: translate(-6px, -25px); /* IE 9 */
    -webkit-transform: translate(-6px, -25px); /* Safari */
    transform: translate(-6px, -25px);
    background-color: $color-1;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0.3em 0.3em darken($color-1, 15%);
}

.name.radius {
    background-color: $color-2;
    box-shadow: 0.3em 0.3em darken($color-2, 15%);
}

.userNotif {
    background: $grey;
}

.actionsSavedEl {
    float: right;
    height: 100%;
}

.actionBtn {
    color: white;
    border: none;
    @include button-bg($color-1);
    border-radius: 0;
    height: 33.5%;
    width: 100%;
    &:hover { 
        transform: none; 
        background: darken($color-1,8%);
        transition: all 0.5s ease;
        i {
            transform: translateY(-0.20em);
            transition: transform 0.5s ease;
        }    
    }
   i {
       font-size: $font-size-m;
   } 
}

.actionBtn.radius {
    @include button-bg($color-2);
    border-radius: 0;
    &:hover { 
        background: darken($color-2,8%);  
        transform: none; 
        transition: all 0.5s ease;
        i {
            transform: translateY(-0.20em);
            transition: transform 0.5s ease;
        }    
    }
   i {
       font-size: $font-size-m;
    }
}

.notifSettings {
    float: right;
    padding-right: 15px;
    margin-right: 10px;
    margin-top: 20px;
}

.desc {
    margin-top: -20px;
    margin-left: 10px;
}

.notification {
    border: 2px solid $nav-color;
    width: 95%;
    color: $nav-color;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

.dismiss {
    border: none;
    color: $nav-color;
    font-size: $font-size-l;
    background: none;
    float: right;
    transform: translate(17px, -17px);
    &:hover { 
        background-color: $nav-color;
        color: white;
        transition: transform 0.5s ease;
    }
}

.meerInfo {
    @include button-bg ($color-2);
}

.descTitle {
    color: $color-1;
    margin-left: 10px;
}

.ordestTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $color-1;
}

.ordest {
    margin: 0;
}

.rad {
    color: $color-2;
}

/*********************
BREAKPOINTS
**********************/
@include breakpoint(xs) {
    .grid {
        @include grid;
        width: 100vw;
        height: 95vh;
        .saved {
            @include grid-columns(12);
            overflow: scroll;
            height: 100%;
            .savedSearch {
                width: 95%;
            }
        }
        .rightSide {
            @include grid-columns(12);
            height: 35vh;
            #map {
                @include grid-columns(12);
                 height: 100%;
                 width: 100%;
             }
        }
        .mainSavedEl {
            @include grid-columns(6);
        }
        
        .notifSavedEl {
            @include grid-columns(5);
        }
        
        .actionsSavedEl {
            @include grid-columns(1);
        }
    }
}
@include breakpoint(sm) {
    .grid {
        @include grid;
        width: 100vw;
        height: 95vh;
        .saved {
            @include grid-columns(12);
            overflow: scroll;
            height: 100%;
            .savedSearch {
                width: 95%;
            }
        }
        .rightSide {
            @include grid-columns(12);
            height: 35vh;
            #map {
                @include grid-columns(12);
                 height: 100%;
                 width: 95%;
             }
        }
        .mainSavedEl {
            @include grid-columns(6);
        }
        
        .notifSavedEl {
            @include grid-columns(5);
        }
        
        .actionsSavedEl {
            @include grid-columns(1);
        }
        
    }
}
@include breakpoint(md) {
    .grid {
        @include grid;
        width: 100vw;
        height: 95vh;
        .saved {
            @include grid-columns(12);
            overflow: scroll;
            height: 100%;
            .savedSearch {
                width: 85%;
            }
        }
        .rightSide {
            @include grid-columns(12);
            height: 35vh;
            #map {
                @include grid-columns(12);
                 height: 100%;
                 width: 85%;
             }
        }
    }
}
@include breakpoint(lg) {
    .grid {
        @include grid;
        width: 100vw;
        height: 90vh;
        .saved {
            @include grid-columns(5);
            height: 100%;
            margin-top: 10px;
            .savedSearch {
                width: 95%;
            }
        }
        .rightSide {
            @include grid-columns(7);
            #map {
                @include grid-columns(7);
                 height: 65vh;
                 width: 100%;
             }
             .userNotif {
                  @include grid-columns(7);
                 height: 27vh;
                 width: 100%;
                 overflow: scroll;
             }
        }
        
        
    }
}
