<app-navigation></app-navigation>
<div class="grid dashboard">
  <div class="saved"> 
     
    <button [disabled]="disableBtn" (click)="searchNowRoute(a)" class="actionBtn radius">Zoek nu</button>

      <div class="rightSide">
          <div id="map"></div>
          <div *ngIf="details" class="userNotif">
            <div *ngFor="let d of details; let i = index" class="notification">
              <button (click)="dismiss(i)" class="dismiss"><i class="fa fa-times"></i></button>
              <h3>{{ d.description }}</h3>
              <p>{{ d.hindrance.effects }}</p>
              <p>{{ d.hindrance.locations }}</p>
            </div>
          </div>
        </div>
  </div>
</div>
