<app-navigation></app-navigation>
<div class="grid dashboard">
  <div class="saved"> 

    <div *ngFor="let r of routes | async" class="savedSearch">
        <div class="mainSavedEl">
          <h3 class="name">{{ r.name }}</h3>
          <h4 class="descTitle">Beschrijving</h4>
          <p class="desc">{{ r.desc }}</p>
        </div>
        <div class="notifSavedEl">
            <h4 class="ordestTitle">Begin</h4><p class="ordest">{{ r.origin }}</p>
            <h4 class="ordestTitle">Eindpunt</h4><p class="ordest">{{ r.destination }}</p>
        </div>
        <div class="actionsSavedEl">
          <button [routerLink]="['/route/edit/', r.name]" class="actionBtn"><i class="fa fa-pencil-square-o"></i></button> <br/>
          <button (click)="deleteRoute(r)" class="actionBtn"><i class="fa fa-trash"></i></button>
          <button [disabled]="disableBtn" (click)="searchNowRoute(r)" class="actionBtn">Zoek nu</button>
        </div>
      </div>
    
      <div *ngFor="let a of radii | async" class="savedSearch radius">
        <div class="mainSavedEl radius">
          <h3 class="name radius">{{ a.name }}</h3>
          <h4 class="descTitle rad">Beschrijving</h4>
          <p class="desc radius">{{ a.desc }}</p>
        </div>
        <div class="notifSavedEl">
            <h4 class="ordestTitle rad">Adres</h4><p class="origin">{{ a.address }}</p>
            <h4 class="ordestTitle rad">Radius</h4><p class="origin">{{ a.radius }}</p>
        </div>
        <div class="actionsSavedEl radius">
          <button [routerLink]="['/radius/edit/', a.name]" class="actionBtn radius"><i class="fa fa-pencil-square-o"></i></button> <br/>
          <button (click)="deleteRadius(a)" class="actionBtn radius"><i class="fa fa-trash"></i></button>
          <button [disabled]="disableBtn" (click)="searchNowRadius(a)" class="actionBtn radius">Zoek nu</button>
        </div>
      </div>



  </div>
  <div class="rightSide">
    <div id="map"></div>
    <div *ngIf="details" class="userNotif">
      <div *ngFor="let d of details; let i = index" class="notification">
        <button (click)="dismiss(i)" class="dismiss"><i class="fa fa-times"></i></button>
        <h3>{{ d.description }}</h3>
        <p>{{ d.hindrance.effects }}</p>
        <p>{{ d.hindrance.locations }}</p>
      </div>
      <div *ngFor="let d of manifestationDescs; let i = index" class="notification">
        <button (click)="dismiss(i)" class="dismiss"><i class="fa fa-times"></i></button>
        <h3>{{ d.description }}</h3>
        <p>{{ d.hindrance.effects }}</p>
        <p>{{ d.hindrance.locations }}</p>
      </div>
    </div>
  </div>


</div>


  

  