/* You can add global styles to this file, and also import other style files */
@import './app/styles/grid.scss';
@import './app/styles/mixins.scss';
@import './app/styles/variables.scss';



body,
html {
  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
    font-family: $font-main;
}