<app-navigation></app-navigation>
<div class="grid main">
  <div routerLink="route" class="route">
    <h1>Route</h1>
    <p class="routeText">
      Zoek naar hinder op een route door een beginpunt, eindpunt en je
      vervoersmiddel in te voeren. Bijvoorbeeld je woon-werk route. 
    </p>
    <a routerLink="route"><button class="routeBtn">Zoeken</button></a>
  </div>

  <div routerLink="radius" class="radius">
    <h1>Radius</h1>
    <p class="radiusText">
      Zoek naar hinder in een radius rond een punt door een straat of adres en
      een radius in te voeren. Bijvoorbeeld 500 meter rond je werkplek.
    </p>
    <a routerLink="radius"><button class="radiusBtn">Zoeken</button></a>
  </div>
</div>