@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/grid";

h1,
p {
    text-align: center;
}

a {
      text-decoration: none;
 }

.main {
    color: white;
    height: 95vh;
}

.route {
    overflow: hidden;
    position: relative;
    background: 
    linear-gradient(
        rgba(175, 175, 175, 0.5), 
        rgba(27, 140, 153, 0.9)
    ),
    url(../styles/assets/images/map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background 1s;
    &:hover {
        background: 
        linear-gradient(
            rgba(38, 186, 202, 0.5), 
            rgb(27, 140, 153)
        ),
        url(../styles/assets/images/map.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        transition: background 2s;
    }
}

.radius {
    background: 
    linear-gradient(
        rgba(175, 175, 175, 0.5),
        rgba(95, 163, 133, 0.9)
    ),
    url(../styles/assets/images/map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:hover {
        background: 
        linear-gradient(
            rgba(120, 201, 166, 0.5), 
            rgb(95, 163, 133)
        ),
        url(../styles/assets/images/map.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        transition: background 2s;
    }
}

.route, 
.radius {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.routeText,
.radiusText,
.radiusBtn,
.routeBtn {
    margin: 0 auto;
    display: flex;
}

.radiusBtn {
    @include button-bg(rgb(27, 131, 122));    
}

.routeBtn {
    @include button-bg(rgb(24, 98, 121));
}

.radiusBtn,
.routeBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: $font-size-s;
}

.routeText,
.radiusText {
    font-size: 22px;
    line-height: 130%;
}

/*********************
BREAKPOINTS
**********************/
@include breakpoint(xs) {
    .grid {
        .route, .radius {
            height: 50vh;
        }
        .radiusText, .routeText {
            width: 80vw;
        }
    }
}

@include breakpoint(sm) {
    .grid {
        .route, .radius {
            height: 50vh;
        }
        .radiusText, .routeText {
            width: 80vw;
        }
    }
}

@include breakpoint(lg) {
    .grid {
        @include grid;
        .route, .radius {
            @include grid-columns(6);
            height: 95vh;
            .routeText, .radiusText {
                width: 35vw;
            }
        }
    }
}
